<%= form_for(@compra_has_produto) do |f| %>
	
  <div class="field">
    <%= f.label :compra_id %><br>
    <%= f.text_field :compra_id %>
  </div>
  <div class="field">
    <%= f.label :produto_id %><br>
    <%= f.text_field :produto_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
