<%= form_for(@compra) do |f| %>

  <div class="field">
    <%= f.label :produto_id %><br>
    <%= f.text_field :produto_id %>
  </div>
  <div class="field">
    <%= f.label :quantidade %><br>
    <%= f.text_field :quantidade %>
  </div>
  <div class="field">
    <%= f.label :pagamento_id %><br>
    <%= f.text_field :pagamento_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  
  
<% end %>
