<%= form_for(@pagamento) do |f| %>
  <% if @pagamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pagamento.errors.count, "error") %> prohibited this pagamento from being saved:</h2>

      <ul>
      <% @pagamento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :num_parcelas %><br>
    <%= f.text_field :num_parcelas %>
  </div>
  <div class="field">
    <%= f.label :tipo_pagamento_id %><br>
    <%= f.text_field :tipo_pagamento_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
