<!DOCTYPE html>
<html>
	<head>
		<title>Kart</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>

		<header>
			<nav>
				<a href="<%= root_path %>" class="brand-logo">Fast Kart</a>
				<ul id="slide-out" class="side-nav">
					<li>
						<a href="<%= homes_path %>">Principal</a>
					</li>
					<li>
						<a href="#">Carrinho</a>
					</li>
					<li class="no-padding">
						<ul class="collapsible collapsible-accordion">
							<li>
								<a class="collapsible-header">Categorias<i class="mdi-navigation-arrow-drop-down"></i></a>
								<div class="collapsible-body">
									<ul>
										<% @categoria_produtos.each do |categoria|%>
										<li>
											<a href="#"><%= categoria.nome_categoria %></a>
										</li>
										<% end %>
									</ul>
								</div>
							</li>
						</ul>
					</li>
				</ul>
				<ul class="right hide-on-med-and-down">
					<li>
						<a href="<%= homes_path %>">Principal</a>
					</li>
					<li>
						<a href="#">Carrinho</a>
					</li>
					<li>
						<a class="dropdown-button" data-activates="dropdown1">Categorias<i class="mdi-navigation-arrow-drop-down right"></i></a>
					</li>
					<ul id='dropdown1' class='dropdown-content'>
						<% @categoria_produtos.each do |categoria|%>
						<li>
							<a href="#"><%= categoria.nome_categoria%></a>
						</li>
						<% end %>
					</ul>
					<li>
								<% if current_user %>
								<ul>
									<li>
										Bem vindo: <%= current_user.nome %>
									</li>
									<li>
										<%= link_to "Log out", logout_path, method: "delete" %>
									</li>
								</ul>
								<% else %>
								<ul>
									<li>
										<%= link_to "Login", 'login' %></a>
									</li>
									<li>
										<%= link_to "Signup", 'signup' %></a>
									</li>
								</ul>
								<% end %>
							</li>
				</ul>
				<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
			</nav>
		</header>

		<main>
			<div class="container">

				<%= yield %>
			</div>
		</main>

		<footer class="page-footer">
			<div class="container">
				<div class="row">
					<div class="col l6 s12">
						<h5 class="white-text">Footer Content</h5>
						<p class="grey-text text-lighten-4">
							You can use rows and columns here to organize your footer content.
						</p>
					</div>
					<div class="col l4 offset-l2 s12">
						<h5 class="white-text">Links</h5>
						<ul>
							<li>
								<a class="grey-text text-lighten-3" href="<%= produtos_path %>">Produtos</a>
							</li>
							<li>
								<a class="grey-text text-lighten-3" href="<%= categoria_produtos_path %>">Categorias</a>
							</li>
							<li>
								<a class="grey-text text-lighten-3" href="<%= clientes_path %>">Clientes</a>
							</li>
							
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
					© 2014 Copyright Text
					<a class="grey-text text-lighten-4 right" href="#!">More Links</a>
				</div>
			</div>
		</footer>

	</body>
</html>
<script>
	$(document).ready(function() {

		// Initialize collapse button
		$(".button-collapse").sideNav();
		// Initialize collapsible (uncomment the line below if you use the dropdown variation)
		//$('.collapsible').collapsible();
		$(".dropdown-button").dropdown({
			belowOrigin : true,
			constrain_width : false
		});
		$('select').material_select();
		tinymce.init({
			selector : 'textarea'
		});
	}); 
</script>